<div class="page">
  <div class="row">
    <div class="col-lg-6 left-page">
      <h1>Contact me</h1>
      <p>If you have questions, feel free to reach out to me by filling out the form below.</p>
      <app-contact-form (submitted)="onFormSubmit($event)"></app-contact-form>
    </div>
<!--  -->
    <div class="col-lg-6">
      <div id="info-table">
        <ul>
          <li *ngFor="let contact of contacts">
            <i class="{{ contact.icon }}"></i>
            <p>{{ contact.info }}</p>
          </li>
        </ul>
      </div>
    </div>
<!--    -->
  </div>
<!--  -->
</div>
<!--  -->
<jw-modal class="text-center" id="modal">
	<h1>Thank You!</h1>
	<button class="button btn btn-primary"
		(click)="modalClose();">Close</button>
</jw-modal>
