.points
  margin-bottom: 20px
  i
    font-size: 3.5rem
    border: 1px solid #ddd
    border-radius: 50%
    display: inline-block
    height: 95px
    width: 95px
    line-height: 95px
    background-color: white
    margin-bottom: 7px
  h3
    color: royalblue
