h1
  margin-top: 30px

.work
  margin-bottom: 40px
  .work-img
    height: 200px
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 20px
  h3
    color: royalblue
  span
    margin: 5px 5px 5px 0px
    background-color: royalblue
  i
    color: royalblue

@media only screen and (min-width : 768px) {
  h1 {
    margin-top: 40px;
  }
}
