<form [formGroup]="contactForm"
  (ngSubmit)="onSubmit(contactForm)">

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>


  <div>
    <input id="name" type="text"
      formControlName="name" placeholder="Name">
    <!-- <div *ngIf="contactForm.controls.name.hasError('required')"> -->
    <!--   Please provide a name. -->
    <!-- </div> -->
  </div>


  <div>
    <input id="email" type="email"
      formControlName="email" placeholder="Email">
    <!-- <div *ngIf="contactForm.controls.email.hasError('required')"> -->
    <!--   Please provide an email. -->
    <!-- </div> -->
  </div>

  <div>
    <textarea id="message" type="text"
      formControlName="message" placeholder="Message"></textarea>
    <!-- <div *ngIf="contactForm.controls.message.hasError('required')"> -->
    <!--   Please provide a message. -->
    <!-- </div> -->
  </div>

  <button type="button" class="btn btn-default"
  [disabled]="contactForm.invalid">Submit</button>

</form>
