<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="was-validated">

  <div class="form-group">
    <input id="name" type="text" class="form-control"
      formControlName="name" placeholder="Name" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback"
      *ngIf="contactForm.controls.name.hasError('required')">
        Please provide a name.
    </div>
  </div>

  <div class="form-group">
    <input id="email" type="email" class="form-control"
      formControlName="email" placeholder="Email" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback"
      *ngIf="contactForm.controls.email.hasError('required')">
      Please provide an email.
    </div>
    <div class="invalid-feedback"
      *ngIf="contactForm.controls.email.hasError('email')">
      Please provide a valid email address.
    </div>
  </div>

  <div class="form-group">
    <textarea id="message" class="form-control"
      type="text" required formControlName="message"
      placeholder="Message" maxlength="3000"></textarea>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback"
      *ngIf="contactForm.controls.message.hasError('required')">
      Please provide a message.
    </div>
  </div>

  <button type="submit" class="btn btn-default"
  [disabled]="!contactForm.valid">Submit</button>

</form>
