body, app-root
  height: 100%

body
  background: #1d1d1d

p
  color: white

.page
  margin: 0
  .left-page
    margin-left: 8%
    margin-right: 8%
    margin-top: 50px
    margin-top: 45px
    h1
      margin-bottom: 40px
      color: royalblue
